<!--
 Post sharing snippet
-->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
  Kakao.init("0681a1857f6f27ad50a65ac41bdeac60");   // 아까 복사해둔 JavaScript 키
  // function sendLink() {
  //   Kakao.Link.sendCustom({
  //     templateId: 70075,   // 복사해둔 템플릿 ID
  //     templateArgs: {
  //       title: "{{ page.title }}",
  //       description: "{{ page.excerpt }}",
  //       url : "{{ page.url }}",
  //     },
  //   });
  // }

  function sendLink() {
  Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
      title: '오늘의 디저트',
      description: '아메리카노, 빵, 케익',
      imageUrl:
          'http://mud-kage.kakao.co.kr/dn/NTmhS/btqfEUdFAUf/FjKzkZsnoeE4o19klTOVI1/openlink_640x640s.jpg',
      link: {
          mobileWebUrl: 'https://developers.kakao.com',
          androidExecutionParams: 'test',
      },
      },
      itemContent: {
      profileText: 'Kakao',
      profileImageUrl: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
      titleImageUrl: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
      titleImageText: 'Cheese cake',
      titleImageCategory: 'Cake',
      items: [
          {
          item: 'Cake1',
          itemOp: '1000원',
          },
          {
          item: 'Cake2',
          itemOp: '2000원',
          },
          {
          item: 'Cake3',
          itemOp: '3000원',
          },
          {
          item: 'Cake4',
          itemOp: '4000원',
          },
          {
          item: 'Cake5',
          itemOp: '5000원',
          },
      ],
      sum: '총 결제금액',
      sumOp: '15000원',
      },
      social: {
      likeCount: 10,
      commentCount: 20,
      sharedCount: 30,
      },
      buttons: [
      {
          title: '웹으로 이동',
          link: {
          mobileWebUrl: 'https://developers.kakao.com',
          },
      },
      {
          title: '앱으로 이동',
          link: {
          mobileWebUrl: 'https://developers.kakao.com',
          },
      },
      ]
  }
  )};
</script>

<div class="share-wrapper">
  <span class="share-label text-muted mr-1">{{ site.data.locales[lang].post.share }}</span>

  <span class="share-icons">
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
    {% assign url = page.url | absolute_url %}

    {% for share in site.data.share.platforms %}
      {% assign link = share.link | replace: 'TITLE', title | replace: 'URL', url | escape %}
        <a href="{{ link }}" data-toggle="tooltip" data-placement="top"
          title="{{ share.type }}" target="_blank" rel="noopener" aria-label="{{ share.type }}">
          <i class="fa-fw {{ share.icon }}"></i>
        </a>
    {% endfor %}

    <a id="kakao-link-btn" href="javascript:sendLink()" data-toggle="tooltip" data-placement="top"
    target="_blank" rel="noopener" title="KakaoTalk">
      <i class="fas fa-comment" aria-hidden="true"></i>
    </a>

    <i id="copy-link" class="fa-fw fas fa-link small"
        data-toggle="tooltip" data-placement="top"
        title="{{ site.data.locales[lang].post.button.share_link.title }}"
        data-title-succeed="{{ site.data.locales[lang].post.button.share_link.succeed }}">
    </i>

  </span>

</div>