<!--
 Post sharing snippet
-->

<div class="share-wrapper">
  <span class="share-label text-muted mr-1">{{ site.data.locales[lang].post.share }}</span>

  <span class="share-icons">
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
    {% assign url = page.url | absolute_url %}

    {% for share in site.data.share.platforms %}
      {% assign link = share.link | replace: 'TITLE', title | replace: 'URL', url | escape %}
        <a href="{{ link }}" data-toggle="tooltip" data-placement="top"
          title="{{ share.type }}" target="_blank" rel="noopener" aria-label="{{ share.type }}">
          <i class="fa-fw {{ share.icon }}"></i>
        </a>
    {% endfor %}

    <a id="kakao-link" 
      href="javascript:void(0);" onclick="kakaoLink();"
      data-toggle="tooltip" 
      data-placement="top"
      title="KakaoTalk">
      <i class="fas fa-comment"></i>
    </a>

    <i id="copy-link" class="fa-fw fas fa-link small"
        data-toggle="tooltip" data-placement="top"
        title="{{ site.data.locales[lang].post.button.share_link.title }}"
        data-title-succeed="{{ site.data.locales[lang].post.button.share_link.succeed }}">
    </i>

  </span>

</div>

<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script> Kakao.init("0681a1857f6f27ad50a65ac41bdeac60");  </script>
<script>
  function kakaoLink() {
    Kakao.Link.sendCustom({
        templateId: 70075,   
        templateArgs: {
        title: "{{page.title}}",
        description: '{{page.excerpt | smartify}}',
        url : window.location.pathname,
        }
    });
  };
</script> 
